.vscode/*
!.vscode/mcp.json
!.vscode/launch.json

.postgres
.aws
.env
.venv
.local
.nginx
.tools
.ssh
odoo.conf
odoo.log*
.logrotate.conf
.logrotate.state
.worktrees
backup

src/*/
!src/.empty

.odoo_inspect
**/*.egg-info

result
